@font-face {
  font-family: 'MavenPro';
  src: local('maven-pro-regular'),
    url('/fonts/maven-pro-regular.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'MavenPro-Bold';
  src: local('maven-pro-bold'),
    url('/fonts/maven-pro-bold.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'MavenPro-Medium';
  src: local('maven-pro-medium'),
    url('/fonts/maven-pro-medium.ttf') format('truetype');
  font-display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: MavenPro;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

line {
  color: unset;
}
